body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; 
  color: #ddd;
  text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #161b22;
    width: 95%;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav ul li a:focus {
  color: #ffcc00;
  outline: none;
}

#sobre {
  background: #102030;
  padding: 50px 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 900px;
}

.descricao-sobre {
  font-size: 16px;
  color: #fffcfc;
  margin-bottom: 30px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
}

.sobre-cards {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  background: white;
  color: #333;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.skill-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 30px;
}
.skill-container img {
  width: 50px;
  height: auto;
}

.image-container {
  display: flex;
  gap: 20px;
}

.image-item {
  text-align: center;
}

img {
  max-width: 200px;
  border-radius: 8px;
}


.projetos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills {
  text-align: center;
  padding: 50px 20px;
  margin-top: 100px;
}

.skills h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}


.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.icons img {
  width: 80px;
  transition: transform 0.3s ease-in-out;
}

.icons img:hover {
  transform: scale(1.1);
}

.bar {
height: 10px;
border-radius: 5px;
background-color: #5A606A;
}

.retang1{
  height: 10px;
  background-color: #F7DF1E;
  border-radius: 5px;
  margin-top: 5px;
  
}

.retang2 {
  height: 10px;
  background-color: #E44D26;
  border-radius: 5px;
  margin-top: 5px;
}

.retang3 {
  height: 10px;
  background-color: #29ABE2;
  border-radius: 5px;
  margin-top: 5px;
}

.retang4 {
  height: 10px;
  background-color: #00D8FF;
  border-radius: 5px;
  margin-top: 5px;
}

.retang5 {
  height: 10px;
  background-color: #A259FF;
  border-radius: 5px;
  margin-top: 5px
}


.progress-bar-container {
  width: 100px;
  height: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-top: 5px;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: #12ad17;
}

.projeto {
  background: #102030;
  padding: 20px;
  margin: 10px;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  background-image: url("img/Robot.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.projeto:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  .sobre-cards {
    flex-direction: column;
    align-items: center;
  }

  .projeto {
    width: 90%;
  }

  .skill-container {
    flex-direction: column;
    align-items: center;
  }
}
a:link {
  color: #ffffff;
}

a:visited {
  color: green;
}

a:hover {
  color: #ffcc00;
}

a:active {
  color: #ffaa00;
}

.footer {
  text-align: center;
  padding: 40px 0;
  width: 100%;
  height: 350px;
  margin-top: 100px;
  background-color: rgba(45, 130, 183, 0.2);
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: 19%;
  
}

.footer h2 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 25px;
  font-size: 20px;
}

.container {
  display: flex;
  gap: 80px;
  justify-content: center;
}

.left, .right {
  display: flex;
  gap: 10px;
  text-align: right;
  flex-direction: column;
}

.footericon {
  background-position-x: 3%;
}

.link {
  text-decoration: none;
  color: #ffffff;
  display: flex;
}

.right a {
  gap: 10px;
  text-align: right;
}

p {
  display: flex;
  gap: 10px;
  font-size: 16px;
  align-items: center;
}

img {
  width: 24px;
}

footer a houver {
  text-decoration: underline;
}